.App {
  text-align: left;
  padding: 20px;
}

.App-logo {
  height: 35vmin;
  margin: 20px;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-pulse infinite 15s ease-in-out;
  }
}

.App-header {
  background-color: #20232a;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(12px + 2vmin);
  color: #61dafb;
  padding: 20px;
}

.App-link {
  color: #09d3ac;
  text-decoration: underline;
}

@keyframes App-logo-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
